<div class="nb-new-notifs-hidden" data-nb="{{ listNotif|length }}">
</div>

{% if listNotif|length > 0 %}
    <div class="nav-notif-clear-list" data-path="{{ path('social_notification_opened', {'notification_id': -1, 'clear': 1}) }}">
        <span class="glyphicon glyphicon-trash"></span>
    </div>
{% endif %}

{% for notif in listNotif %}
    <li class="nav-notification-li" data-path-clicked="{{ path('social_notification_opened', {'notification_id': notif.id}) }}">
        {% if notif.type == "com-add" %}
            <div class="nav-notif-redirect-link" data-redirect="{{ path('social_problem_show', {'problem_titreSlug': notif.problem.titreSlug}) }}">
                <p>
                    <span class="glyphicon glyphicon-comment notif-icon notif-icon-comment"></span>
                    
                    {% if notif.multiple <= 1 %}
                        <b>{{ notif.expediteur.username|capitalize }}</b>&#160a commenté votre problème&#160"<b>{{ notif.problem.titre }}</b>"
                    {% else %}
                        <b>{{ notif.multiple }}</b>&#160commentaires ont été ajoutés sur votre problème&#160"<b>{{ notif.problem.titre }}</b>"
                    {% endif %}
                </p>

                <p class="notif-date">
                    <span class="glyphicon glyphicon-comment notif-icon notif-icon-comment"></span>
                    {{ notif.date|date('Y-m-d H:i:s')|prettydate }}
                </p>
            </div>

        {% elseif notif.type == "com-reply-add" %}
            <div class="nav-notif-redirect-link" data-redirect="{{ path('social_problem_show', {'problem_titreSlug': notif.problem.titreSlug}) }}">
                <p>
                    <i class="fa fa-reply fa-rotate-180 notif-icon notif-icon-reply" aria-hidden="true"></i>
                    
                    {% if notif.multiple <= 1 %}
                        <b>{{ notif.expediteur.username|capitalize }}</b>&#160a répondu à votre commentaire&#160"<b>{{ notif.comment.comfrom.contenu }}</b>"
                    {% else %}
                        <b>{{ notif.multiple }}</b>&#160réponses ont été ajoutées sur votre commentaire&#160"<b>{{ notif.comment.comfrom.contenu }}</b>"
                    {% endif %}
                </p>

                <p class="notif-date">
                    <i class="fa fa-reply fa-rotate-180 notif-icon notif-icon-reply" aria-hidden="true"></i>
                    {{ notif.date|date('Y-m-d H:i:s')|prettydate }}
                </p>
            </div>

        {% elseif notif.type == "problem-solved-with-com" %}
            <div class="nav-notif-redirect-link" data-redirect="{{ path('social_problem_show', {'problem_titreSlug': notif.problem.titreSlug}) }}">
                <p>
                    <span class="glyphicon glyphicon-ok notif-icon notif-icon-validated"></span>
                    <b>{{ notif.expediteur.username|capitalize }}</b>&#160a validé votre réponse sur son problème&#160"<b>{{ notif.problem.titre }}</b>"
                </p>

                <p class="notif-date">
                    <span class="glyphicon glyphicon-ok notif-icon notif-icon-validated"></span>
                    {{ notif.date|date('Y-m-d H:i:s')|prettydate }}
                </p>
            </div>
        {% endif %}
    </li>

{% endfor %}


{% if listNotif|length < 1 %}
    <li>
        <p>
            <center>
                Aucune notification
            </center>
        </p>
    </li>
{% endif %}