<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Erreur : {{ status_text }}</title>
        <link href="{{ asset('ressources/css/app/error.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}">
    </head>
    
    <body>
        <div class="container-fluid">
            <div class="row">
               	<div class="col-xs-4 col-xs-offset-4">
                	<img src="{{ asset('ressources/img/logo/bg-white-error.png') }}" alt="logo">
				</div>
			</div>
          	
           	<div class="row">
                <h1>Flute.. Y'a un p'ti soucis</h1>
                
                <h3>L'erreur <b>{{ status_code }} {{ status_text }}</b> a été déclenchée, je sais pas trop pourquoi..<br><br>
                
                Écoute je te propose de retourner à la page d'accueil parceque y'a pas grand chose à voir ici. Bisous.</h3>

                <a class="btn btn-default" href="{{ path('social_home') }}">
                	<span class="glyphicon glyphicon-home"></span> Retour à l'accueil
                </a>
            </div>
        </div>
    </body>
    
</html>
