<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>
			{% block title %}
				LivePush
			{% endblock %}
		</title>
        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('ressources/css/app/style-base.css') }}">
			<link rel="stylesheet" href="{{ asset('ressources/css/social/notification.css') }}">
			<link rel="stylesheet" href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('bundles/font-awesome/css/font-awesome.min.css') }}">
		{% endblock %}
		
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			{% set connected = true %}
		{% else %}
			{% set connected = false %}
		{% endif %}
    </head>
	
    <body>
	
		<div class="container-fluid">
		
			<nav class="row">
				<div class="col-xs-3 nav-brand">
					<a href="{{ path('social_home') }}">
						<h2>
							Livepush
						</h2>
					</a>
				</div>
				
				<div class="nav-account-button col-xs-9 pull-right">
					{% if connected == false %}
						<a href="{{ path('fos_user_registration_register') }}" class="nav-account-button-link">
							<span class="glyphicon glyphicon-pencil"></span>Inscription
						</a>
						
						<a href="{{ path('fos_user_security_login') }}" class="nav-account-button-link">
							<span class="glyphicon glyphicon-user"></span>Connexion
						</a>
					{% else %}
						<div href="{{ path('fos_user_profile_show') }}" class="nav-account-button-link nav-account-button-link-user">
							{{ app.user.username }}
						</div>
						
						<div class="btn-group nav-account-notification">
                            <a type="button" class="dropdown-toggle nav-account-notification-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						        <span class="glyphicon glyphicon-bell"></span>
                            </a>
                            
                            <ul class="dropdown-menu dropdown-menu-right">
								{{ render(controller("SocialBundle:Notification:getNotification")) }}
				            </ul>
						</div>
						
						<div class="btn-group nav-account-drop-options">
							<a type="button" class="dropdown-toggle nav-account-drop-options-triangle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="glyphicon glyphicon-triangle-bottom"></span>
							</a>
							
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="{{ path('fos_user_profile_edit') }}">Editer profil</a></li>
								<li><a href="{{ path('fos_user_change_password') }}">Modifier mot de passe</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
				            </ul>
						</div>
					{% endif %}
				</div>
			</nav>

			{% block body %}
			{% endblock %}
		
		</div>
		
        {% block javascripts %}
			<script src="{{ asset('bundles/jquery/jquery.js') }}"></script>
			<script src="{{ asset('bundles/bootstrap/js/bootstrap.js') }}"></script>
		{% endblock %}
    </body>
</html>
