<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>
			{% block title %}
				LivePush
			{% endblock %}
		</title>
        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('ressources/css/app/style-base.css') }}">
			<link rel="stylesheet" href="{{ asset('ressources/css/social/notification.css') }}">
			<link rel="stylesheet" href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('bundles/font-awesome/css/font-awesome.min.css') }}">
			<link rel="icon" type="image/x-icon" href="{{ asset('ressources/img/logo/favicon.ico') }}">
		{% endblock %}
		
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			{% set connected = true %}
		{% else %}
			{% set connected = false %}
		{% endif %}
    </head>
	
    <body>
	
		<div class="container-fluid">
		
			<nav class="row">
				<div class="col-xs-3 nav-brand">
					<a href="{{ path('social_home') }}">
						<img src="{{ asset('ressources/img/logo/sm-white.png') }}" alt="logo">
					</a>
				</div>
				
				<div class="nav-account-button col-xs-9 pull-right">
					{% if connected == false %}
						<a href="{{ path('fos_user_registration_register') }}" class="nav-account-button-link">
							<span class="glyphicon glyphicon-pencil"></span>Inscription
						</a>
						
						<a href="{{ path('fos_user_security_login') }}" class="nav-account-button-link">
							<span class="glyphicon glyphicon-user"></span>Connexion
						</a>
					{% else %}
						<div href="{{ path('fos_user_profile_show') }}" class="nav-account-button-link nav-account-button-link-user">
							{{ app.user.username }}
						</div>
						
						<div class="btn-group nav-account-notification" data-path-get="{{ path('social_notification_get') }}">
                            <a type="button" class="dropdown-toggle nav-account-notification-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="badge nav-nb-notification-badge">
						            <span class="glyphicon glyphicon-bell"></span>
                                    <span class="nav-nb-notification-badge-replace">...</span>
                                </span>
                            </a>
                            
                            <ul class="dropdown-menu dropdown-menu-right">
				            </ul>
						</div>
						
						<div class="btn-group nav-account-drop-options">
							<a type="button" class="dropdown-toggle nav-account-drop-options-triangle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="glyphicon glyphicon-triangle-bottom"></span>
							</a>
							
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="{{ path('fos_user_change_password') }}"><i class="fa fa-key"></i> Modifier votre mot de passe</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Déconnexion</a></li>
				            </ul>
						</div>
					{% endif %}
				</div>
			</nav>

			{% block body %}
			{% endblock %}
		
		</div>
		
        {% block javascripts %}
			<script src="{{ asset('bundles/jquery/jquery.js') }}"></script>
			<script src="{{ asset('bundles/bootstrap/js/bootstrap.js') }}"></script>
			<script src="{{ asset('ressources/js/app/refreshNotif.js') }}"></script>
		{% endblock %}
    </body>
</html>
