<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
			{% block title %}
				LivePush
			{% endblock %}
		</title>
        {% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('ressources/css/style-base.css') }}">
			<link rel="stylesheet" href="{{ asset('bundles/bootstrap/css/bootstrap.min.css') }}">
		{% endblock %}
    </head>
	
    <body>
	
		<div class="container-fluid">
		
			<nav class="row">
				<div class="nav-logo col-xs-6">
					<a href="{{ path('social_home') }}">
						<h2>
							Livepush
						</h2>
					</a>
				</div>
				
				<div class="nav-account-button col-xs-6 pull-right">
					{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						<a class="btn btn-default" href="{{ path('fos_user_registration_register') }}">
							Inscription
						</a>
						
						<a class="btn btn-default" href="#registerCollapse" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="registerCollapse">
							Connexion
						</a>
					{% else %}
						<a href="{{ path('fos_user_profile_show') }}" class="nav-account-link-profile">
							{{ app.user.username }}
						</a>
						
						<div class="btn-group nav-account-drop-options">
							<button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<span class="glyphicon glyphicon-triangle-bottom"></span>
							</button>
							
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="{{ path('fos_user_profile_edit') }}">Editer profil</a></li>
								<li><a href="{{ path('fos_user_change_password') }}">Modifier mot de passe</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
							  </ul>
						</div>
					{% endif %}
				</div>
			</nav>
			
			<form class="form-horizontal collapse col-xs-3 pull-right col-xs-pull-1 nav-login-form" id="registerCollapse" action="{{ path('fos_user_security_check') }}" method="post">
				{% if csrf_token is defined and csrf_token %}
					<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
				{% endif %}
				<div class="form-group">
					<input type="email" id="username" name="_username" required="required" class="form-control" placeholder="Email HETIC">
				</div>
				<div class="form-group">
					<input type="password" id="password" name="_password" required="required" class="form-control" placeholder="Mot de passe">
				</div>
				<input type="checkbox" id="remember_me" name="_remember_me" value="on">
				<input type="submit" id="_submit" name="_submit" class="btn btn-default">
			</form>
			
			{% block body %}
			{% endblock %}
		
		</div>
		
        {% block javascripts %}
			<script src="{{ asset('bundles/jquery/jquery.js') }}"></script>
			<script src="{{ asset('bundles/bootstrap/js/bootstrap.js') }}"></script>
		{% endblock %}
    </body>
</html>
