{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
	<div class="col-xs-12 form-container">

		<div class="form-header">
			<h1>Modifier votre mot de passe</h1>
		</div>

		<form action="{{ path('fos_user_change_password') }}" method="POST" class="fos_user_change_password form-horizontal" role="form">
			
			{% if form_errors(form.current_password) or form_errors(form.plainPassword.first) or form_errors(form.plainPassword.second)%}
				<div class="alert alert-danger col-xs-6 col-xs-offset-3" role="alert">
					{{ form_errors(form.current_password) }}
					{{ form_errors(form.plainPassword.first) }}
					{{ form_errors(form.plainPassword.second) }}
				</div>
			{% endif %}
			
			<div class="form-group">
				{{ form_label(form.current_password, "Mot de passe actuel", {'label_attr': {'class': 'col-xs-4 col-xs-offset-1 control-label'}}) }}
				<div class="col-xs-3">
					{{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			
			<div class="form-group">
				{{ form_label(form.plainPassword.first, "Nouveau mot de passe", {'label_attr': {'class': 'col-xs-4 col-xs-offset-1 control-label'}}) }}
				<div class="col-xs-3">
					{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			
			<div class="form-group">
				{{ form_label(form.plainPassword.second, "Confirmation nouveau mot de passe", {'label_attr': {'class': 'col-xs-4 col-xs-offset-1 control-label'}}) }}
				<div class="col-xs-3">
					{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
				</div>
			</div>
			
			<div class="form-group">
				<div class="col-xs-offset-5 form-submit-container">
					<input type="submit" value="Valider" class="btn btn-default"/>
				</div>
			</div>
			
			{{ form_rest(form) }} 
				
		</form>
		
	</div>
</div>