{% trans_default_domain 'FOSUserBundle' %}

<div class="row">
	<div class="col-xs-12 form-container">

		<div class="form-header">
			<h1>Connexion</h1>
		</div>

		{% if error %}
			<div class="alert alert-danger col-xs-6 col-xs-offset-3" role="alert">
				{{ error.messageKey|trans(error.messageData, 'security') }}
			</div>
		{% endif %}

		<form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
			{% if csrf_token %}
				<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
			{% endif %}

			<div class="form-group">
				<label class="control-label col-xs-4 col-xs-offset-1" for="username">{{ 'security.login.username'|trans }}</label>
				<div class="col-xs-3">
					<input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
				</div>
			</div>
			
			<div class="form-group">
				<label class="control-label  col-xs-4 col-xs-offset-1" for="password">{{ 'security.login.password'|trans }}</label>
				<div class="col-xs-3">
					<input class="form-control" type="password" id="password" name="_password" required="required" />
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-offset-5 form-submit-container">
					<input class="btn btn-default" type="submit" id="_submit" name="_submit" value="Valider" />
				</div>
			</div>
			
		</form>

	</div>
</div>