{% if loop.first and response %}
	<div class="pb-comment-reply-logo col-xs-1">
		<i class="fa fa-reply fa-rotate-180" aria-hidden="true"></i>
	</div>
{% endif %}

<div class="{% if response %}col-xs-11 pb-comments-comment-response {% if not loop.first and response %}col-xs-offset-1{% endif %}{% else %}col-xs-12{% endif %} {% if loop.last and response %} pb-comments-comment-response-last {% endif %} pb-comments-comment" id="{{ commentaire.id }}">

	{% if commentaire.solution %}
		<div class="col-xs-1 pb-coms-com-validated">
			<span class="glyphicon glyphicon-ok"></span>
		</div>
	{% endif %}
   
	<div class="col-xs-12 pb-coms-com-content {% if commentaire.solution %} pb-coms-com-content-validated {% endif %}">
   	
    	<div class="col-xs-6">
        	<p class="com-author">{{ commentaire.auteur.username }}</p>
        </div>

        <div class="col-xs-6 com-date-container">
        	<p class="com-date">
           	
            	{% if connected and not response %}
                	<button type="button" class="btn btn-xs comment-reply">
                    	<i class="fa fa-reply fa-rotate-180" aria-hidden="true"></i>
                    </button>
                {% endif %}
                                 
              	{% if (commentaire.auteur == app.user) or (not problem.resolu and problem.auteur == app.user and not response) %}
                	<button type="button" class="btn btn-xs comment-delete" data-toggle="popover" data-content="

                    	{% if not problem.resolu and problem.auteur == app.user and not response %}
                    		<a class='btn btn-success col-xs-12' href=&#34;{{ path('social_problem_solved', {'problem_titreSlug': problem.titreSlug, 'comment_id': commentaire.id}) }}&#34; style='margin-bottom: 7px;'>
                            	<span class='glyphicon glyphicon-ok'></span> Solution validée
                            </a>
                        {% endif %}

						{% if commentaire.auteur == app.user %}
                        	<a class='btn btn-danger col-xs-12' href=&#34;{{ path('social_problem_comment_remove', {'comment_id': commentaire.id}) }}&#34; style='margin-bottom: 7px;'>
                            	<span class='glyphicon glyphicon-trash'></span> Supprimer
                            </a>
                     	{% endif %}"

                 		data-placement="top" data-trigger="focus">
                   	
                    	<span class="glyphicon glyphicon-chevron-up"></span>
               		</button>
                               
             	{% endif %}
                               
                {{ commentaire.date|date('Y-m-d H:i:s')|prettydate }}
           	</p>
       	</div>

        <div class="col-xs-12">
        	<p class="com-content">{{ commentaire.contenu }}</p>
        </div>

       	{% if not com.editedName is null and not com.editedContent is null and not response %}
        	<div class="col-xs-12 label-has-correction-container">
            	<div data-edited-code-name="{{ com.editedName }}" data-edited-code="{{ com.editedContent }}" class="label label-success label-has-correction">Correction de {{ com.editedName }}
                </div>
           	</div>
     	{% endif %}
   	</div>
</div>