{% extends "SocialBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('ressources/css/social/problemPage.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/code-prettify/skins/desert.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/code-prettify/prettify.js') }}"></script>
	<script src="{{ asset('ressources/js/social/displayFileCode.js') }}"></script>
{% endblock %}

{% block social_right_pan %}

    <div class="row pb-page-header">
        <h1>
            {{ problem.titre|raw }}
            
            <img src="{{ asset('ressources/img/langage-logo/'~problem.langage|lower~'.png') }}" alt="langage-logo">
            
            <span class="pb-page-date">
                {{ problem.auteur }} - 
                Il y a {{ problem.date|date('Y-m-d H:i:s')|prettydate }}
            </span>
        </h1>
    </div>
    
    <div class="row pb-page-content">
        {{ problem.contenu|raw }}
    </div>
    
    {% if problem.nbFiles > 0 %}
        <div class="row pb-page-files">
            
			{% for fichier in fichiersContent %}
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 file-container" data-file-code="{{ fichier.content }}" data-file-name="{{ fichier.name }}">
					<center>
						<img class="page-file-icon" src="{{ asset('ressources/img/icons/file.png') }}" alt="file-icon">
					</center>
					
					<p class="page-file-name">{{ fichier.name }}</p>
				</div>
			{% endfor %}
       
        </div>
    {% endif %}

{% endblock %}