{% extends "SocialBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('ressources/css/social/problemPage.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/code-prettify/skins/desert.css') }}">
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/code-prettify/prettify.js') }}"></script>
	<script src="{{ asset('ressources/js/social/displayFileCode.js') }}"></script>
	<script src="{{ asset('ressources/js/social/displayImg.js') }}"></script>
	<script>
		$(function () {
  			$('[data-toggle="popover"]').popover({html: true});
            
            if(($(".pb-coms-com-validated").length > 0))
            {
                var contElem = $(".pb-coms-com-validated").closest(".pb-comments-comment");
                contElem.css({"padding-left": 0, "padding-top": 0, "padding-bottom": 0, "overflow": "hidden", "margin-bottom": "40px"});
                var contHeight = contElem.innerHeight();
                $(".pb-coms-com-validated").innerHeight(contHeight);
            }
		})
    </script>
{% endblock %}

{% block social_right_pan %}

    <div class="row pb-page-header">
        <h1>
            {{ problem.titre|raw }}
            <img src="{{ asset('ressources/img/langage-logo/'~problem.langage|lower~'.png') }}" alt="langage-logo">
		</h1>
            
            <span class="pb-page-date">
                {% if problem.auteur == app.user %}
                	<button type="button" class="btn btn-xs comment-delete" data-toggle="popover" data-content="
                		{% if not problem.resolu %}
							<center>Définissez un commentaire comme solution avec <span class='glyphicon glyphicon-chevron-up'></span></center>
							
							<a class='btn btn-success col-xs-12' href=&#34;{{ path('social_problem_solved', {'problem_titreSlug': problem.titreSlug}) }}&#34; style='margin:7px 0 7px 0;'>
								Résolu, sans commentaire
							</a>
                		{% endif %}
                		
                		<a class='btn btn-danger col-xs-12' href=&#34;{{ path('social_problem_remove', {'problem_titreSlug': problem.titreSlug}) }}&#34; style='margin-bottom:7px;'>
                			Supprimer
                		</a>" 
                		data-placement="bottom" data-trigger="focus">
						<span class="glyphicon glyphicon-chevron-down">
						</span>
					</button>
                {% endif %}
                {{ problem.auteur }} - 
                Il y a {{ problem.date|date('Y-m-d H:i:s')|prettydate }}
            </span>
            
            {% if problem.resolu %}
            	<center>
            		<p class="problem-solved-label">
            			<span class="label label-success">
            				Résolu
            			</span>
            		</p>
            	</center>
            {% endif %}
        
    </div>
    
    <div class="row pb-page-content">
        {{ problem.contenu|raw }}
    </div>
    
    {% if problem.nbFiles > 0 %}
        <div class="row pb-page-files">
            
			{% for fichier in fichiersContent %}
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 file-container" data-file-code="{% if fichier.image %} {{ asset('ressources/txt/') }}{% endif %}{{ fichier.content }}" data-file-name="{{ fichier.name }}" data-file-image="{% if fichier.image %}true{% else %}false{% endif %}">
					<center>
						<img class="page-file-icon" src="{% if fichier.image %} {{ asset('ressources/img/icons/picture.png') }} {% else %} {{ asset('ressources/img/icons/file.png') }} {% endif %}" alt="file-icon">
					</center>
					
					<p class="page-file-name">{{ fichier.name }}</p>
				</div>
			{% endfor %}
       
        </div>
    {% endif %}
    
    <section class="pb-comments row col-xs-10 col-xs-offset-1">
       	
       	{% if connected == true %}
			<form class="comment-form row" method="POST" action="{{ path('social_problem_comment_add', {'problem_id': problem.id}) }}">
			   <div class="form-group row col-xs-10 col-xs-offset-1">
					<textarea class="form-control comment-input" minlength="2" rows="4" id="comment" name="comment" placeholder="Publiez une solution" required></textarea>
			   </div>

			   <div class="form-confirmation form-group row col-xs-10 col-xs-offset-1">
					<button type="submit" class="btn btn-success pull-right">Publier</button>
			   </div>
			</form>
        {% else %}
           	<div class="col-xs-12 log-for-comment-container">
            	<a href="{{ path('fos_user_security_login') }}">
            		<span class="label label-primary log-for-comment-label">Connectez-vous pour commenter</span>
            	</a>
           	</div>
      	{% endif %}
        
        <div class="row pb-comments-list">
			{% for com in comsContent %}
				<div class="col-xs-12 pb-comments-comment">
                    {% if com.solution %}
                        <div class="col-xs-1 pb-coms-com-validated">
                            <span class="glyphicon glyphicon-ok"></span>
                        </div>
                    {% endif %}
                    <div class="col-xs-12 pb-coms-com-content {% if com.solution %} pb-coms-com-content-validated {% endif %}">
                        <div class="col-xs-8">
                            <p class="com-author">{{ com.author.username }}</p>
                        </div>

                         <div class="col-xs-4 com-date-container">
                             <p class="com-date">
                                 {% if (com.author == app.user) or (not problem.resolu and problem.auteur == app.user) %}
                                     <button type="button" class="btn btn-xs comment-delete" data-toggle="popover" data-content="

                                       {% if not problem.resolu and problem.auteur == app.user%}
                                           <a class='btn btn-success col-xs-12' href=&#34;{{ path('social_problem_solved', {'problem_titreSlug': problem.titreSlug, 'comment_id': com.id}) }}&#34; style='margin-bottom: 7px;'>
                                                Solution validée
                                            </a>
                                        {% endif %}

                                        {% if com.author == app.user %}
                                            <a class='btn btn-danger col-xs-12' href=&#34;{{ path('social_problem_comment_remove', {'comment_id': com.id}) }}&#34; style='margin-bottom: 7px;'>
                                                Supprimer
                                            </a>
                                        {% endif %}"

                                        data-placement="top" data-trigger="focus">
                                        <span class="glyphicon glyphicon-chevron-up">
                                        </span>
                                    </button>
                                {% endif %}
                                {{ com.date|date('Y-m-d H:i:s')|prettydate }}
                             </p>
                        </div>

                        <div class="col-xs-12">
                            <p class="com-content">{{ com.content }}</p>
                        </div>

                        {% if not com.editedName is null and not com.editedContent is null %}
                            <div class="col-xs-12 label-has-correction-container">
                                <div data-edited-code-name="{{ com.editedName }}" data-edited-code="{{ com.editedContent }}" class="label label-success label-has-correction">Correction de {{ com.editedName }}</div>
                            </div>
                        {% endif %}
                    </div>
				</div>
			{% endfor %}
        </div>
        
    </section>

{% endblock %}