{% extends "SocialBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('ressources/css/social/problemAdd.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('ressources/js/social/problemCountFile.js') }}"></script>
{% endblock %}

{% block social_right_pan %}

	<div class="pb-add-header row">
		<h1>Renseigne ton problème</h1>
	</div>

	<div class="col-md-10 col-md-offset-1">
		
		{% for flashMessage in app.session.flashbag.get('error') %}
            <div class="alert alert-danger" role="alert">
                {{ flashMessage }}
            </div>
        {% endfor %}

		<form enctype="multipart/form-data" class="form-horizontal problem-add-form" method="post" action="{{ path('social_problem_add_upload') }}">
			<div class="form-group">
				<label for="title" class="col-xs-3 control-label">Titre</label>
				<div class="col-md-7 col-sm-9">
					<input type="text" maxlength="255" minlength="3" class="form-control" id="title" name="pbAddTitle" placeholder="Titre du problème" required>
				</div>
			</div>

			<div class="form-group">
				<label for="content" class="col-xs-3 control-label">Description</label>
				<div class="col-md-7 col-sm-9">
					<textarea class="form-control" minlength="3" rows="5" id="content" name="pbAddContent" placeholder="Description du problème." required></textarea>
				</div>
			</div>

			<div class="form-group">
				<label for="langage" class="col-xs-3 control-label">Technologie problématique</label>
				<div class="col-md-7 col-sm-9">
					<select class="form-control" id="langage" name="pbAddLangage" required>
                        <option value="Bootstrap">Bootstrap</option>
				    	<option value="CSS">CSS</option>
                        <option value="GIT">GIT</option>
				    	<option value="HTML" selected>HTML</option>
				    	<option value="Illustrator">Illustrator</option>
				    	<option value="JS">JavaScript</option>
                        <option value="Jquery">Jquery</option>
                        <option value="Photoshop">Photoshop</option>
				    	<option value="PHP">PHP</option>
                        <option value="Python">Python</option>
                        <option value="Wordpress">Wordpress</option>
						<option value="Autre">Autre</option>
				  	</select>
				</div>
			</div>
			
			<div class="form-group">
                <label for="files" class="col-xs-3 control-label">Fichiers / Screenshots</label>
                <div class="col-md-7 col-sm-9">
                    <label>
                        <span class="btn btn-default">
                            Importer <span class="badge badge-nb-fichiers">0</span><span class="badge badge-max-fichiers"></span>
                            <input type="file" id="files" multiple>
                        </span>
                    </label>
                    <div class="noms-fichiers"></div>
                </div>
			</div>
			
			<div class="form-group">
				<div class="col-md-9 col-sm-offset-3 col-xs-offset-5">
					<button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Valider</button>
				</div>
			</div>
		</form>

	</div>

{% endblock %}
