<ul class="list-pb-display row">
        
    {% for problem in listProblems %}
        
        <li class="col-xs-12">
            <a href="{{ path('social_problem_show', {'problem_titreSlug': problem.titreSlug}) }}">
                <div class="row">
                   
                    <div class="col-xs-9 col pb-display-titre">
                    	<div class="pb-display-logo">
                    		<img src="{{ asset('ressources/img/langage-logo/'~problem.langage|lower~'.png') }}" alt="langage-logo">
                    	</div>
                       
                        {{ problem.titre|raw }}
                        <br>
                        
                        <span class="pb-display-auteur">
                        	{{ problem.auteur }}
                        </span>
                    </div>

                    <div class="col-xs-3 col pb-display-date">
                        {{ problem.date|date('Y-m-d H:i:s')|prettydate }}
                    </div>

                </div>
            </a>
        </li>
        
      {% endfor %}
        
 </ul>